trigger:
- main
- feature/*

pool: targetpool
steps:
- task: TerraformTask@5
  displayName: terraform-init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    backendServiceArm: 'mera-update'
    backendAzureRmStorageAccountName: 'newsg'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'tfstate.dev'

- task: AzurePowerShell@5
  displayName: tflint
  inputs:
    azureSubscription: 'mera-update'
    ScriptType: 'InlineScript'
    Inline: cd '$(System.DefaultWorkingDirectory)/environment/dev'
            tflint



- task: TerraformTask@5
  displayName: terraform-validate
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'


- task: TerraformTask@5
  displayName: terraform-plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    environmentServiceNameAzureRM: 'mera-update'

- task: TerraformTask@5
  displayName: terraform-apply
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    environmentServiceNameAzureRM: 'mera-update'