trigger:
- main
- feature/*

pool: targetpool
steps:
- task: TerraformTask@5
  displayName: terraform-init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    backendServiceArm: 'mera-update'
    backendAzureRmStorageAccountName: 'newsg'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'tfstate.dev'