trigger:
- main
- feature/*

pool: targetpool
steps:
- task: TerraformTask@5
  displayName: terraform-init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    backendServiceArm: 'mera-update'
    backendAzureRmStorageAccountName: 'newsg'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'tfstate.dev'

- task: PowerShell@2
  displayName: tflint
  inputs:
    targetType: 'inline'
    script: |
      cd '$(System.DefaultWorkingDirectory)/environment/dev'
      tflint
  continueOnError: true


- task: PowerShell@2
  displayName: tfsec
  inputs:
    targetType: 'inline'
    script: |
      cd '$(System.DefaultWorkingDirectory)/environment/dev'
      tfsec

- task: PowerShell@2
  displayName: trivy
  inputs:
    targetType: 'inline'
    script: |
      cd '$(System.DefaultWorkingDirectory)/environment/dev'
      trivy --version

- task: TerraformTask@5
  displayName: terraform-validate
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'


- task: TerraformTask@5
  displayName: terraform-plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    environmentServiceNameAzureRM: 'mera-update'

- task: TerraformTask@5
  displayName: terraform-apply
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    environmentServiceNameAzureRM: 'mera-update'